<div class="row d-flex justify-content-around">
  <div class="col-md col-xs-12">
    <p class="display-6"><%= restaurant.title %></p>
  </div>
  <div class="col-md col-xs-12">
    <% if restaurant.is_halal? %>
      <span class="badge bg-success">halal</span>
    <% end %>
    <% if restaurant.is_kosher? %>
      <span class="badge bg-success">kosher</span>
    <% end %>
    <% if restaurant.is_vegetarian? %>
      <span class="badge bg-success">vegetarian</span>
    <% end %>
  </div>
  <div class="col-md col-xs-12">
    <%= restaurant.description %>
  </div>
  <div class="col-md col-xs-1">
    <%= link_to edit_restaurant_path(restaurant.id), data: { turbo_frame: "modal" }, class: "btn btn-warning" do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </div>
</div>