<main class="container">
  <%= turbo_frame_tag "modal" do %>
    <h1 class="display-6 ms-3 mt-3">
      New Table
    </h1>

    <div class="modal-body">
      <%= render "form", table: @table %>
    </div>
  <% end %>
</main>